{% extends "base.html" %}
{% block content %}
<h2>Add Book</h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="title" class="form-control mb-2" placeholder="Book Title" required>
  <input type="text" name="author" class="form-control mb-2" placeholder="Author" required>
  
  <label for="cover_image" class="form-label">Cover Image (optional)</label>
  <input type="file" name="cover_image" class="form-control mb-3">
  
  <button class="btn btn-success">Add</button>
</form>
{% endblock %}
